<?xml version="1.0"?>
<config>
    <modules>
        <Aromicon_Gua>
            <version>1.2.0</version>
        </Aromicon_Gua>
    </modules>
    <global>
        <models>
            <aromicon_gua>
                <class>Aromicon_Gua_Model</class>
            </aromicon_gua>
        </models>
        <blocks>
            <aromicon_gua>
                <class>Aromicon_Gua_Block</class>
            </aromicon_gua>
        </blocks>
        <helpers>
            <aromicon_gua>
                <class>Aromicon_Gua_Helper</class>
            </aromicon_gua>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <aromicon_gua>
                    <file>aromicon_gua.xml</file>
                </aromicon_gua>
            </updates>
        </layout>
    </frontend>
    <default>
        <google>
            <aromicon_gua_ecommerce>
                <transaction_id>id</transaction_id>
            </aromicon_gua_ecommerce>
        </google>
    </default>
</config>