<?xml version="1.0"?>
<config>
    <modules>
        <Aromicon_Gua>
            <version>1.2.2</version>
        </Aromicon_Gua>
    </modules>
    <global>
        <models>
            <aromicon_gua>
                <class>Aromicon_Gua_Model</class>
            </aromicon_gua>
        </models>
        <blocks>
            <aromicon_gua>
                <class>Aromicon_Gua_Block</class>
            </aromicon_gua>
        </blocks>
        <helpers>
            <aromicon_gua>
                <class>Aromicon_Gua_Helper</class>
            </aromicon_gua>
        </helpers>
        <resources>
            <aromicon_gua_setup>
                <setup>
                    <module>Aromicon_Gua</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aromicon_gua_setup>
            <aromicon_gua_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aromicon_gua_write>
            <aromicon_gua_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aromicon_gua_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <aromicon_gua>
                    <file>aromicon_gua.xml</file>
                </aromicon_gua>
            </updates>
        </layout>
    </frontend>
    <default>
        <google>
            <aromicon_gua_ecommerce>
                <transaction_id>id</transaction_id>
            </aromicon_gua_ecommerce>
        </google>
    </default>
</config>